convert this mysql code to mermaid

create table `users` (`id` bigint unsigned not null auto_increment primary key, `first_name` varchar(255) not null, `last_name` varchar(255) not null, `father_name` varchar(255) not null, `mother_name` varchar(255) not null, `birthday` date not null, `gender` tinyint not null, `phone` varchar(255) not null, `address` varchar(255) not null, `year` varchar(255) not null, `image` varchar(255) null, `email` varchar(255) not null, `password` varchar(255) not null, `conf_password` varchar(255) not null, `user_type` varchar(255) not null, `fcm_token` varchar(255) null, `status` tinyint not null default '1', `email_verified_at` timestamp null, `remember_token` varchar(100) null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   alter table `users` add unique `users_email_unique`(`email`)
   create table `password_reset_tokens` (`email` varchar(255) not null, `token` varchar(255) not null, `created_at` timestamp null, primary key (`email`)) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `failed_jobs` (`id` bigint unsigned not null auto_increment primary key, `uuid` varchar(255) not null, `connection` text not null, `queue` text not null, `payload` longtext not null, `exception` longtext not null, `failed_at` timestamp not null default CURRENT_TIMESTAMP) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   alter table `failed_jobs` add unique `failed_jobs_uuid_unique`(`uuid`)
   create table `personal_access_tokens` (`id` bigint unsigned not null auto_increment primary key, `tokenable_type` varchar(255) not null, `tokenable_id` bigint unsigned not null, `name` varchar(255) not null, `token` varchar(64) not null, `abilities` text null, `last_used_at` timestamp null, `expires_at` timestamp null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   alter table `personal_access_tokens` add index `personal_access_tokens_tokenable_type_tokenable_id_index`(`tokenable_type`, `tokenable_id`)
   alter table `personal_access_tokens` add unique `personal_access_tokens_token_unique`(`token`)
   create table `expenses` (`id` bigint unsigned not null auto_increment primary key, `date` date not null, `product` varchar(255) not null, `cost_one_piece` double not null, `num_product` int not null, `total_cost` double not null, `year` varchar(255) not null, `course_id` bigint unsigned null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `buses` (`id` bigint unsigned not null auto_increment primary key, `first_name` varchar(255) not null, `last_name` varchar(255) not null, `phone` varchar(255) not null, `address` varchar(255) not null, `year` varchar(255) not null, `cost_from_bus` double not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `breakes` (`id` bigint unsigned not null auto_increment primary key, `first_name` varchar(255) not null, `last_name` varchar(255) not null, `phone` varchar(255) not null, `address` varchar(255) not null, `year` varchar(255) not null, `cost_from_breake` double not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `fee__schools` (`id` bigint unsigned not null auto_increment primary key, `year` varchar(255) not null, `amount` double not null, `class_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `appointments` (`id` bigint unsigned not null auto_increment primary key, `date` date not null, `order_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   
   create table `subjects` (`id` bigint unsigned not null auto_increment primary key, `name` varchar(255) not null, `num_hour` int not null default '0', `success_rate` int not null default '0', `class_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `classses` (`id` bigint unsigned not null auto_increment primary key, `name` varchar(255) not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `sections` (`id` bigint unsigned not null auto_increment primary key, `num_section` varchar(255) not null, `class_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `notes` (`id` bigint unsigned not null auto_increment primary key, `title` varchar(255) not null, `description` varchar(255) not null, `user_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `program__teachars` (`id` bigint unsigned not null auto_increment primary key, `teacher_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `program__students` (`id` bigint unsigned not null auto_increment primary key, `type` varchar(255) not null, `section_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `publishes` (`id` bigint unsigned not null auto_increment primary key, `description` varchar(255) not null, `course_id` bigint unsigned null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `images` (`id` bigint unsigned not null auto_increment primary key, `path` varchar(255) not null, `description` varchar(255) null, `program_student_id` bigint unsigned null, `program_teacher_id` bigint unsigned null, `publish_id` bigint unsigned null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `out__of__work__students` (`id` bigint unsigned not null auto_increment primary key, `date` date not null, `justification` varchar(255) null, `student_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `comments` (`id` bigint unsigned not null auto_increment primary key, `description` varchar(255) not null, `student_id` bigint unsigned null, `post_id` bigint unsigned not null, `teacher_id` bigint unsigned null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `note__students` (`id` bigint unsigned not null auto_increment primary key, `type` varchar(255) not null, `text` varchar(255) not null, `student_id` bigint unsigned not null, `user_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `pay__fees` (`id` bigint unsigned not null auto_increment primary key, `type` varchar(255) null, `date` date not null, `amount_money` double not null, `remaining_fee` double not null, `student_id` bigint unsigned null, `course_id` bigint unsigned null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `posts` (`id` bigint unsigned not null auto_increment primary key, `quostion` varchar(255) not null, `year` varchar(255) not null, `state_on_off` int not null default '1', `section_id` bigint unsigned not null, `subject_id` bigint unsigned not null, `teacher_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   
   create table `archives` (`id` bigint unsigned not null auto_increment primary key, `year` varchar(255) not null, `class_id` bigint unsigned not null, `subject_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `file__archives` (`id` bigint unsigned not null auto_increment primary key, `name` varchar(255) not null, `description` varchar(255) not null, `archive_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `image__archives` (`id` bigint unsigned not null auto_increment primary key, `name` varchar(255) not null, `description` varchar(255) not null, `archive_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `accessories` (`id` bigint unsigned not null auto_increment primary key, `discription` varchar(255) not null, `path` varchar(255) not null, `home_work_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `homework` (`id` bigint unsigned not null auto_increment primary key, `description` varchar(255) not null, `year` varchar(255) not null, `class_id` bigint unsigned not null, `subject_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `students` (`id` bigint unsigned not null auto_increment primary key, `student_type` tinyint not null default '0', `calssification` int null, `school_tuition` double not null, `user_id` bigint unsigned not null, `class_id` bigint unsigned not null, `section_id` bigint unsigned not null, `parentt_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `parentts` (`id` bigint unsigned not null auto_increment primary key, `first_name` varchar(255) not null, `last_name` varchar(255) not null, `phone` varchar(255) not null, `address` varchar(255) not null, `image` varchar(255) null, `year` varchar(255) not null, `email` varchar(255) not null, `password` varchar(255) not null, `conf_password` varchar(255) not null, `fcm_token` varchar(255) null, `status` tinyint not null default '1', `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   alter table `parentts` add unique `parentts_email_unique`(`email`)
   create table `teacher_sections` (`id` bigint unsigned not null auto_increment primary key, `section_id` bigint unsigned not null, `teacher_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `teacher_subjects` (`id` bigint unsigned not null auto_increment primary key, `subject_id` bigint unsigned not null, `teacher_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `teacher__schedules` (`id` bigint unsigned not null auto_increment primary key, `teacher_id` bigint unsigned not null, `day_of_week` enum('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') not null, `start_time` time not null, `end_time` time not null, `section_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `marks` (`id` bigint unsigned not null auto_increment primary key, `ponus` int null, `homework` int null, `oral` int null, `test1` int null, `test2` int null, `exam_med` int null, `exam_final` int null, `state` tinyint(1) not null default '0', `student_id` bigint unsigned not null, `subject_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   
   
   create table `out_of_work_employees` (`id` bigint unsigned not null auto_increment primary key, `date` date not null, `num_hour_out` int not null, `note` varchar(255) null, `employee_id` bigint unsigned null, `teacher_id` bigint unsigned null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `orders` (`id` bigint unsigned not null auto_increment primary key, `first_name` varchar(255) null, `last_name` varchar(255) null, `father_name` varchar(255) null, `mother_name` varchar(255) null, `birthday` date null, `gender` tinyint null, `phone` varchar(255) null, `address` varchar(255) null, `email` varchar(255) null, `classification` tinyint(1) not null default '0', `class` varchar(255) null, `year` varchar(255) null, `student_type` tinyint null, `student_id` bigint unsigned null, `course_id` bigint unsigned null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `employees` (`id` bigint unsigned not null auto_increment primary key, `first_name` varchar(255) not null, `last_name` varchar(255) not null, `phone` varchar(255) not null, `address` varchar(255) not null, `salary` double not null, `type` varchar(255) not null, `year` varchar(255) not null, `email` varchar(255) not null, `password` varchar(255) not null, `status` tinyint not null default '1', `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `courses` (`id` bigint unsigned not null auto_increment primary key, `Course_status` tinyint not null default '2', `name_course` varchar(255) not null, `description` varchar(255) null, `cost_course` double not null, `Minimum_win` double not null, `start_date` date not null, `finish_date` date not null, `start_time` time not null, `finish_time` time not null, `percent_teacher` double not null, `num_day` double not null, `year` varchar(255) not null, `subject_id` bigint unsigned not null, `class_id` bigint unsigned not null, `teacher_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `academies` (`id` bigint unsigned not null auto_increment primary key, `name` varchar(255) not null, `phone1` varchar(255) null, `phone2` varchar(255) null, `address` varchar(255) not null, `facebook_link` varchar(255) null, `description` varchar(255) null, `year` varchar(255) not null, `resolve_brother` varchar(255) not null default '0', `resolve_martyr` varchar(255) not null default '0', `resolve_Son_teacher` varchar(255) not null default '0', `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `file_courses` (`id` bigint unsigned not null auto_increment primary key, `name` varchar(255) not null, `description` varchar(255) null, `course_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `salary` (`id` bigint unsigned not null auto_increment primary key, `salary_of_teacher` double not null, `num_houre` double not null default '0', `month` date not null, `year` varchar(255) not null, `teacher_id` bigint unsigned null, `employee_id` bigint unsigned null, `status` tinyint not null default '0', `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `create__maturitie_tables` (`id` bigint unsigned not null auto_increment primary key, `amount` double not null, `teacher_id` bigint unsigned null, `employee_id` bigint unsigned null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `teachers` (`id` bigint unsigned not null auto_increment primary key, `cost_hour` int not null, `user_id` bigint unsigned not null, `certificate` varchar(255) not null, `classs_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'

   create table `hour__addeds` (`id` bigint unsigned not null auto_increment primary key, `teacher_id` bigint unsigned not null, `num_hour_added` int not null default '0', `note_hour_added` varchar(255) null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   create table `actions_logs` (`id` bigint unsigned not null auto_increment primary key, `user_id` bigint unsigned not null, `action` varchar(255) not null, `description` text null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   alter table `actions_logs` add constraint `actions_logs_user_id_foreign` foreign key (`user_id`) references `users` (`id`) on delete cascade
   create table `notifications` (`id` char(36) not null, `type` varchar(255) not null, `notifiable_type` varchar(255) not null, `notifiable_id` bigint unsigned not null, `data` text not null, `read_at` timestamp null, `created_at` timestamp null, `updated_at` timestamp null, primary key (`id`)) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
   alter table `notifications` add index `notifications_notifiable_type_notifiable_id_index`(`notifiable_type`, `notifiable_id`)
   create table `taxas` (`id` bigint unsigned not null auto_increment primary key, `type` varchar(255) not null, `cost` double not null, `year` varchar(255) not null, `date` date not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'

